---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingTime } from "@lib/utils";
import BackToPrev from "@components/BackToPrev.astro";
import Link from "@components/Link.astro";

export async function getStaticPaths() {
  const archives = (await getCollection("archive"))
    .filter(post => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return archives.map((archive) => ({
    params: { slug: archive.slug },
    props: archive,
  }));
}
type Props = CollectionEntry<"archive">;

const archive = Astro.props;
const { Content } = await archive.render();
---

<PageLayout title={archive.data.title} description={archive.data.description}>
  <Container>
    <div class="space-y-1 my-10">
      <div class="animate text-2xl font-semibold text-black dark:text-white">
        {archive.data.title}
      </div>
      <div class="animate flex items-center gap-1.5">
        <div class="font-base text-sm">
          <FormattedDate date={archive.data.date} />
        </div>
        &bull;
        <div class="font-base text-sm">
          {readingTime(archive.body)}
        </div>
      </div>
      
      {(archive.data.demoURL || archive.data.repoURL) && (
        <nav class="animate flex gap-1">
          {archive.data.demoURL && (
            <Link href={archive.data.demoURL} external>
              demo
            </Link>
          )}
          {archive.data.demoURL && archive.data.repoURL && (
            <span>/</span>
          )}
          {archive.data.repoURL && (
            <Link href={archive.data.repoURL} external>
              repo
            </Link>
          )}
        </nav>
      )}
    </div>
    <article class="animate">
      <Content />
    </article>
    <div class="h-10"/>
    <div class="animate">
      <BackToPrev href="/archive">
        Back to archive
      </BackToPrev>
    </div>
  </Container>
</PageLayout>