---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";

type Props = {
  entry: CollectionEntry<"blog"> | CollectionEntry<"archive">;
  padding?: string;
  arrow?: boolean;
}

const { entry, padding, arrow = true  } = Astro.props;
---

<a href={`/${entry.collection}/${entry.slug}`} class={`relative group flex flex-nowrap ${padding} rounded-lg transition-all duration-300 ease-in-out`}>
  <div class="flex justify-between items-center flex-1 truncate">
    <div class="decoration-black/15 dark:decoration-white/30 group-hover:decoration-black/25 group-hover:dark:decoration-white/50 text-black/75 dark:text-white/90 group-hover:text-black group-hover:dark:text-white transition-colors duration-300 ease-in-out group-hover:underline underline-offset-2">
      {entry.data.title}
    </div>
    <div class="flex items-center gap-2 flex-shrink-0">
      <div class="text-sm font-normal ">
        <FormattedDate date={entry.data.date} />
      </div>
      {arrow && <svg 
        xmlns="http://www.w3.org/2000/svg" 
        viewBox="0 0 24 24"
        class="size-5 stroke-2 fill-none stroke-current">
        <line x1="5" y1="12" x2="19" y2="12" class="translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out" />
        <polyline points="12 5 19 12 12 19" class="-translate-x-1 group-hover:translate-x-0 transition-transform duration-300 ease-in-out" />
      </svg>}
    </div>
  </div>
</a>
