---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingTime } from "@lib/utils";
import BackToPrev from "@components/BackToPrev.astro";
import Link from "@components/Link.astro";

export async function getStaticPaths() {
  const devPosts = (await getCollection("dev"))
    .filter(post => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return devPosts.map((dev) => ({
    params: { slug: dev.slug },
    props: dev,
  }));
}
type Props = CollectionEntry<"dev">;

const dev = Astro.props;
const { Content } = await dev.render();
---

<PageLayout title={dev.data.title} description={dev.data.description}>
  <Container>
    <div class="space-y-1 my-10">
      <div class="animate text-2xl font-semibold text-black dark:text-white">
        {dev.data.title}
      </div>
      <div class="animate flex items-center gap-1.5">
        <div class="font-base text-sm">
          <FormattedDate date={dev.data.date} />
        </div>
        &bull;
        <div class="font-base text-sm">
          {readingTime(dev.body)}
        </div>
      </div>
      
      {(dev.data.demoURL || dev.data.repoURL) && (
        <nav class="animate flex gap-1">
          {dev.data.demoURL && (
            <Link href={dev.data.demoURL} external>
              demo
            </Link>
          )}
          {dev.data.demoURL && dev.data.repoURL && (
            <span>/</span>
          )}
          {dev.data.repoURL && (
            <Link href={dev.data.repoURL} external>
              repo
            </Link>
          )}
        </nav>
      )}
    </div>
    <article class="animate">
      <Content />
    </article>
    <div class="h-10"/>
    <div class="animate">
      <BackToPrev href="/dev">
        Back to dev
      </BackToPrev>
    </div>
  </Container>
</PageLayout>